html {
  background-color: black;
  -webkit-animation: spazz 7s steps(1) infinite;
          animation: spazz 7s steps(1) infinite;
}

body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
  background: url(https://cdn.pixabay.com/photo/2020/10/16/14/40/among-us-5659730_1280.png) 50%/cover;
  background-blend-mode: multiply;
  -webkit-animation: inherit;
          animation: inherit;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}

@-webkit-keyframes spazz {
  0% {
    filter:  hue-rotate(158.4deg);
    background-color: #66ebff;
    transform: translate(-4px, -2px) scale(1.08);
  }
  1% {
    filter:  hue-rotate(352.8deg);
    background-color: #fffc66;
    transform: translate(-10px, 15px) scale(1.08);
  }
  2% {
    filter:  saturate(8.56) hue-rotate(306deg);
    background-color: #ff66a1;
    transform: translate(-4px, 13px) scale(1.13);
  }
  4% {
    filter:  hue-rotate(190.8deg);
    background-color: #6669ff;
    transform: translate(-9px, 9px) scale(1.2);
  }
  6% {
    filter:  hue-rotate(241.2deg);
    background-color: #7366ff;
    transform: translate(-10px, -11px) scale(1.13);
  }
  7% {
    filter:  hue-rotate(280.8deg);
    background-color: #ff8066;
    transform: translate(-6px, 14px) scale(1.17);
  }
  8% {
    filter:  hue-rotate(324deg);
    background-color: #b8ff66;
    transform: translate(-12px, 8px) scale(1.07);
  }
  9% {
    filter:  saturate(6.13) hue-rotate(158.4deg);
    background-color: #bdff66;
    transform: translate(-9px, -12px) scale(1.09);
  }
  10% {
    filter:  hue-rotate(259.2deg) contrast(5.86);
    background-color: #e6ff66;
    transform: translate(-8px, 6px) scale(1.16);
  }
  11% {
    filter:  saturate(7.48) hue-rotate(241.2deg);
    background-color: #7dff66;
    transform: translate(-3px, 11px) scale(1.25);
  }
  13% {
    filter:  saturate(3.7) hue-rotate(288deg) contrast(8.56);
    background-color: #66fffa;
    transform: translate(-13px, -3px) scale(1.16);
  }
  14% {
    filter:  saturate(2.62) hue-rotate(237.6deg) contrast(6.94);
    background-color: #66ff8a;
    transform: translate(10px, -11px) scale(1.25);
  }
  15% {
    filter:  hue-rotate(140.4deg);
    background-color: #66ffdb;
    transform: translate(-12px, 6px) scale(1.2);
  }
  16% {
    filter:  hue-rotate(122.4deg);
    background-color: #96ff66;
    transform: translate(-14px, -7px) scale(1.08);
  }
  18% {
    filter:  hue-rotate(226.8deg);
    background-color: #7066ff;
    transform: translate(-1px, 1px) scale(1.08);
  }
  21% {
    filter:  hue-rotate(158.4deg);
    background-color: #c266ff;
    transform: translate(14px, -2px) scale(1.13);
  }
  22% {
    filter:  saturate(2.71) hue-rotate(75.6deg);
    background-color: #f766ff;
    transform: translate(-4px, -6px) scale(1.2);
  }
  24% {
    filter:  hue-rotate(216deg);
    background-color: #78ff66;
    transform: translate(-11px, -14px) scale(1.18);
  }
  25% {
    filter:  hue-rotate(79.2deg);
    background-color: #d9ff66;
    transform: translate(9px, 15px) scale(1.1);
  }
  26% {
    filter:  hue-rotate(39.6deg);
    background-color: #69ff66;
    transform: translate(-10px, -12px) scale(1.22);
  }
  27% {
    filter:  hue-rotate(208.8deg) invert(1);
    background-color: #b3ff66;
    transform: translate(13px, 1px) scale(1.16);
  }
  28% {
    filter:  saturate(1.9) hue-rotate(136.8deg);
    background-color: #ff66e3;
    transform: translate(8px, 12px) scale(1.21);
  }
  29% {
    filter:  saturate(8.02) hue-rotate(338.4deg) invert(1);
    background-color: #6666ff;
    transform: translate(-2px, 1px) scale(1.19);
  }
  30% {
    filter:  saturate(7.03) hue-rotate(248.4deg) contrast(1.09);
    background-color: #75ff66;
    transform: translate(0px, -4px) scale(1.13);
  }
  31% {
    filter:  hue-rotate(172.8deg);
    background-color: #f066ff;
    transform: translate(-2px, -11px) scale(1.24);
  }
  32% {
    filter:  hue-rotate(306deg);
    background-color: #ed66ff;
    transform: translate(8px, -11px) scale(1.2);
  }
  33% {
    filter:  hue-rotate(10.8deg);
    background-color: #6678ff;
    transform: translate(5px, 9px) scale(1.23);
  }
  35% {
    filter:  hue-rotate(43.2deg);
    background-color: #ff9966;
    transform: translate(-9px, 5px) scale(1.18);
  }
  36% {
    filter:  hue-rotate(61.2deg);
    background-color: #66ff82;
    transform: translate(9px, 10px) scale(1.25);
  }
  37% {
    filter:  hue-rotate(187.2deg);
    background-color: #c9ff66;
    transform: translate(13px, -11px) scale(1.11);
  }
  38% {
    filter:  saturate(4.33) hue-rotate(75.6deg);
    background-color: #a166ff;
    transform: translate(-1px, 8px) scale(1.2);
  }
  42% {
    filter:  hue-rotate(205.2deg);
    background-color: #66baff;
    transform: translate(-12px, 5px) scale(1.18);
  }
  43% {
    filter:  hue-rotate(244.8deg);
    background-color: #ffeb66;
    transform: translate(-1px, -5px) scale(1.16);
  }
  44% {
    filter:  saturate(8.83) hue-rotate(28.8deg);
    background-color: #ff6699;
    transform: translate(12px, 1px) scale(1.1);
  }
  45% {
    filter:  hue-rotate(72deg);
    background-color: #66adff;
    transform: translate(0px, -1px) scale(1.2);
  }
  46% {
    filter:  saturate(9.55) hue-rotate(162deg);
    background-color: #fff266;
    transform: translate(5px, -8px) scale(1.21);
  }
  47% {
    filter:  hue-rotate(237.6deg);
    background-color: #6678ff;
    transform: translate(0px, -14px) scale(1.14);
  }
  48% {
    filter:  saturate(1.45) hue-rotate(273.6deg);
    background-color: #ff7a66;
    transform: translate(-5px, 11px) scale(1.25);
  }
  50% {
    filter:  hue-rotate(237.6deg);
    background-color: #ff66e0;
    transform: translate(5px, 8px) scale(1.15);
  }
  51% {
    filter:  hue-rotate(273.6deg);
    background-color: #ff66eb;
    transform: translate(6px, 15px) scale(1.22);
  }
  52% {
    filter:  hue-rotate(194.4deg);
    background-color: #ffa366;
    transform: translate(7px, 13px) scale(1.1);
  }
  54% {
    filter:  hue-rotate(28.8deg);
    background-color: #66ffeb;
    transform: translate(-6px, -8px) scale(1.15);
  }
  55% {
    filter:  hue-rotate(7.2deg);
    background-color: #7366ff;
    transform: translate(-9px, -9px) scale(1.16);
  }
  59% {
    filter:  hue-rotate(104.4deg);
    background-color: #66faff;
    transform: translate(9px, -10px) scale(1.09);
  }
  60% {
    filter:  saturate(2.8) hue-rotate(43.2deg);
    background-color: #6687ff;
    transform: translate(-5px, -9px) scale(1.23);
  }
  61% {
    filter:  hue-rotate(144deg);
    background-color: #9eff66;
    transform: translate(10px, 4px) scale(1.12);
  }
  62% {
    filter:  saturate(5.59) hue-rotate(86.4deg);
    background-color: #66bdff;
    transform: translate(-14px, 15px) scale(1.11);
  }
  63% {
    filter:  hue-rotate(93.6deg);
    background-color: #66ebff;
    transform: translate(1px, -14px) scale(1.24);
  }
  65% {
    filter:  hue-rotate(277.2deg);
    background-color: #faff66;
    transform: translate(-6px, -6px) scale(1.23);
  }
  66% {
    filter:  hue-rotate(129.6deg);
    background-color: #ffd966;
    transform: translate(3px, 11px) scale(1.17);
  }
  67% {
    filter:  saturate(1.81) hue-rotate(212.4deg);
    background-color: #e666ff;
    transform: translate(-13px, 15px) scale(1.17);
  }
  68% {
    filter:  hue-rotate(165.6deg) contrast(5.41);
    background-color: #66ff85;
    transform: translate(0px, -2px) scale(1.14);
  }
  72% {
    filter:  hue-rotate(162deg);
    background-color: #ff66fa;
    transform: translate(-10px, -13px) scale(1.23);
  }
  73% {
    filter:  contrast(1.81);
    background-color: #ff6678;
    transform: translate(1px, 1px) scale(1.14);
  }
  74% {
    filter:  hue-rotate(212.4deg);
    background-color: #ff9466;
    transform: translate(-4px, -6px) scale(1.25);
  }
  75% {
    filter:  saturate(9.37) hue-rotate(169.2deg);
    background-color: #ffe866;
    transform: translate(-3px, 12px) scale(1.14);
  }
  76% {
    filter:  hue-rotate(309.6deg);
    background-color: #ff66d4;
    transform: translate(-12px, 2px) scale(1.17);
  }
  77% {
    filter:  hue-rotate(147.6deg);
    background-color: #fa66ff;
    transform: translate(15px, -10px) scale(1.08);
  }
  78% {
    filter:  hue-rotate(104.4deg);
    background-color: #ff66c2;
    transform: translate(5px, -3px) scale(1.09);
  }
  79% {
    filter:  hue-rotate(68.4deg);
    background-color: #6673ff;
    transform: translate(5px, -3px) scale(1.21);
  }
  80% {
    filter:  hue-rotate(75.6deg);
    background-color: #ffbf66;
    transform: translate(1px, 12px) scale(1.18);
  }
  81% {
    filter:  hue-rotate(291.6deg);
    background-color: #ffb366;
    transform: translate(-9px, 15px) scale(1.24);
  }
  83% {
    filter:  saturate(7.66) hue-rotate(147.6deg);
    background-color: #667dff;
    transform: translate(1px, 7px) scale(1.11);
  }
  84% {
    filter:  hue-rotate(208.8deg);
    background-color: #66ffba;
    transform: translate(-13px, -10px) scale(1.19);
  }
  86% {
    filter:  hue-rotate(349.2deg);
    background-color: #ff66eb;
    transform: translate(11px, -4px) scale(1.16);
  }
  87% {
    filter:  hue-rotate(295.2deg);
    background-color: #dbff66;
    transform: translate(-9px, 8px) scale(1.15);
  }
  88% {
    filter:  saturate(6.4) hue-rotate(136.8deg) brightness(70.5%);
    background-color: #a8ff66;
    transform: translate(-7px, 15px) scale(1.19);
  }
  89% {
    filter:  hue-rotate(187.2deg);
    background-color: #666bff;
    transform: translate(9px, 2px) scale(1.06);
  }
  92% {
    filter:  hue-rotate(36deg);
    background-color: #8066ff;
    transform: translate(8px, -6px) scale(1.18);
  }
  97% {
    filter:  saturate(9.73) hue-rotate(349.2deg);
    background-color: #ff666b;
    transform: translate(-11px, 12px) scale(1.25);
  }
  98% {
    filter:  hue-rotate(266.4deg);
    background-color: #9e66ff;
    transform: translate(6px, 0px) scale(1.25);
  }
  99% {
    filter:  hue-rotate(14.4deg);
    background-color: #ff6966;
    transform: translate(1px, -13px) scale(1.06);
  }
}

@keyframes spazz {
  0% {
    filter:  hue-rotate(158.4deg);
    background-color: #66ebff;
    transform: translate(-4px, -2px) scale(1.08);
  }
  1% {
    filter:  hue-rotate(352.8deg);
    background-color: #fffc66;
    transform: translate(-10px, 15px) scale(1.08);
  }
  2% {
    filter:  saturate(8.56) hue-rotate(306deg);
    background-color: #ff66a1;
    transform: translate(-4px, 13px) scale(1.13);
  }
  4% {
    filter:  hue-rotate(190.8deg);
    background-color: #6669ff;
    transform: translate(-9px, 9px) scale(1.2);
  }
  6% {
    filter:  hue-rotate(241.2deg);
    background-color: #7366ff;
    transform: translate(-10px, -11px) scale(1.13);
  }
  7% {
    filter:  hue-rotate(280.8deg);
    background-color: #ff8066;
    transform: translate(-6px, 14px) scale(1.17);
  }
  8% {
    filter:  hue-rotate(324deg);
    background-color: #b8ff66;
    transform: translate(-12px, 8px) scale(1.07);
  }
  9% {
    filter:  saturate(6.13) hue-rotate(158.4deg);
    background-color: #bdff66;
    transform: translate(-9px, -12px) scale(1.09);
  }
  10% {
    filter:  hue-rotate(259.2deg) contrast(5.86);
    background-color: #e6ff66;
    transform: translate(-8px, 6px) scale(1.16);
  }
  11% {
    filter:  saturate(7.48) hue-rotate(241.2deg);
    background-color: #7dff66;
    transform: translate(-3px, 11px) scale(1.25);
  }
  13% {
    filter:  saturate(3.7) hue-rotate(288deg) contrast(8.56);
    background-color: #66fffa;
    transform: translate(-13px, -3px) scale(1.16);
  }
  14% {
    filter:  saturate(2.62) hue-rotate(237.6deg) contrast(6.94);
    background-color: #66ff8a;
    transform: translate(10px, -11px) scale(1.25);
  }
  15% {
    filter:  hue-rotate(140.4deg);
    background-color: #66ffdb;
    transform: translate(-12px, 6px) scale(1.2);
  }
  16% {
    filter:  hue-rotate(122.4deg);
    background-color: #96ff66;
    transform: translate(-14px, -7px) scale(1.08);
  }
  18% {
    filter:  hue-rotate(226.8deg);
    background-color: #7066ff;
    transform: translate(-1px, 1px) scale(1.08);
  }
  21% {
    filter:  hue-rotate(158.4deg);
    background-color: #c266ff;
    transform: translate(14px, -2px) scale(1.13);
  }
  22% {
    filter:  saturate(2.71) hue-rotate(75.6deg);
    background-color: #f766ff;
    transform: translate(-4px, -6px) scale(1.2);
  }
  24% {
    filter:  hue-rotate(216deg);
    background-color: #78ff66;
    transform: translate(-11px, -14px) scale(1.18);
  }
  25% {
    filter:  hue-rotate(79.2deg);
    background-color: #d9ff66;
    transform: translate(9px, 15px) scale(1.1);
  }
  26% {
    filter:  hue-rotate(39.6deg);
    background-color: #69ff66;
    transform: translate(-10px, -12px) scale(1.22);
  }
  27% {
    filter:  hue-rotate(208.8deg) invert(1);
    background-color: #b3ff66;
    transform: translate(13px, 1px) scale(1.16);
  }
  28% {
    filter:  saturate(1.9) hue-rotate(136.8deg);
    background-color: #ff66e3;
    transform: translate(8px, 12px) scale(1.21);
  }
  29% {
    filter:  saturate(8.02) hue-rotate(338.4deg) invert(1);
    background-color: #6666ff;
    transform: translate(-2px, 1px) scale(1.19);
  }
  30% {
    filter:  saturate(7.03) hue-rotate(248.4deg) contrast(1.09);
    background-color: #75ff66;
    transform: translate(0px, -4px) scale(1.13);
  }
  31% {
    filter:  hue-rotate(172.8deg);
    background-color: #f066ff;
    transform: translate(-2px, -11px) scale(1.24);
  }
  32% {
    filter:  hue-rotate(306deg);
    background-color: #ed66ff;
    transform: translate(8px, -11px) scale(1.2);
  }
  33% {
    filter:  hue-rotate(10.8deg);
    background-color: #6678ff;
    transform: translate(5px, 9px) scale(1.23);
  }
  35% {
    filter:  hue-rotate(43.2deg);
    background-color: #ff9966;
    transform: translate(-9px, 5px) scale(1.18);
  }
  36% {
    filter:  hue-rotate(61.2deg);
    background-color: #66ff82;
    transform: translate(9px, 10px) scale(1.25);
  }
  37% {
    filter:  hue-rotate(187.2deg);
    background-color: #c9ff66;
    transform: translate(13px, -11px) scale(1.11);
  }
  38% {
    filter:  saturate(4.33) hue-rotate(75.6deg);
    background-color: #a166ff;
    transform: translate(-1px, 8px) scale(1.2);
  }
  42% {
    filter:  hue-rotate(205.2deg);
    background-color: #66baff;
    transform: translate(-12px, 5px) scale(1.18);
  }
  43% {
    filter:  hue-rotate(244.8deg);
    background-color: #ffeb66;
    transform: translate(-1px, -5px) scale(1.16);
  }
  44% {
    filter:  saturate(8.83) hue-rotate(28.8deg);
    background-color: #ff6699;
    transform: translate(12px, 1px) scale(1.1);
  }
  45% {
    filter:  hue-rotate(72deg);
    background-color: #66adff;
    transform: translate(0px, -1px) scale(1.2);
  }
  46% {
    filter:  saturate(9.55) hue-rotate(162deg);
    background-color: #fff266;
    transform: translate(5px, -8px) scale(1.21);
  }
  47% {
    filter:  hue-rotate(237.6deg);
    background-color: #6678ff;
    transform: translate(0px, -14px) scale(1.14);
  }
  48% {
    filter:  saturate(1.45) hue-rotate(273.6deg);
    background-color: #ff7a66;
    transform: translate(-5px, 11px) scale(1.25);
  }
  50% {
    filter:  hue-rotate(237.6deg);
    background-color: #ff66e0;
    transform: translate(5px, 8px) scale(1.15);
  }
  51% {
    filter:  hue-rotate(273.6deg);
    background-color: #ff66eb;
    transform: translate(6px, 15px) scale(1.22);
  }
  52% {
    filter:  hue-rotate(194.4deg);
    background-color: #ffa366;
    transform: translate(7px, 13px) scale(1.1);
  }
  54% {
    filter:  hue-rotate(28.8deg);
    background-color: #66ffeb;
    transform: translate(-6px, -8px) scale(1.15);
  }
  55% {
    filter:  hue-rotate(7.2deg);
    background-color: #7366ff;
    transform: translate(-9px, -9px) scale(1.16);
  }
  59% {
    filter:  hue-rotate(104.4deg);
    background-color: #66faff;
    transform: translate(9px, -10px) scale(1.09);
  }
  60% {
    filter:  saturate(2.8) hue-rotate(43.2deg);
    background-color: #6687ff;
    transform: translate(-5px, -9px) scale(1.23);
  }
  61% {
    filter:  hue-rotate(144deg);
    background-color: #9eff66;
    transform: translate(10px, 4px) scale(1.12);
  }
  62% {
    filter:  saturate(5.59) hue-rotate(86.4deg);
    background-color: #66bdff;
    transform: translate(-14px, 15px) scale(1.11);
  }
  63% {
    filter:  hue-rotate(93.6deg);
    background-color: #66ebff;
    transform: translate(1px, -14px) scale(1.24);
  }
  65% {
    filter:  hue-rotate(277.2deg);
    background-color: #faff66;
    transform: translate(-6px, -6px) scale(1.23);
  }
  66% {
    filter:  hue-rotate(129.6deg);
    background-color: #ffd966;
    transform: translate(3px, 11px) scale(1.17);
  }
  67% {
    filter:  saturate(1.81) hue-rotate(212.4deg);
    background-color: #e666ff;
    transform: translate(-13px, 15px) scale(1.17);
  }
  68% {
    filter:  hue-rotate(165.6deg) contrast(5.41);
    background-color: #66ff85;
    transform: translate(0px, -2px) scale(1.14);
  }
  72% {
    filter:  hue-rotate(162deg);
    background-color: #ff66fa;
    transform: translate(-10px, -13px) scale(1.23);
  }
  73% {
    filter:  contrast(1.81);
    background-color: #ff6678;
    transform: translate(1px, 1px) scale(1.14);
  }
  74% {
    filter:  hue-rotate(212.4deg);
    background-color: #ff9466;
    transform: translate(-4px, -6px) scale(1.25);
  }
  75% {
    filter:  saturate(9.37) hue-rotate(169.2deg);
    background-color: #ffe866;
    transform: translate(-3px, 12px) scale(1.14);
  }
  76% {
    filter:  hue-rotate(309.6deg);
    background-color: #ff66d4;
    transform: translate(-12px, 2px) scale(1.17);
  }
  77% {
    filter:  hue-rotate(147.6deg);
    background-color: #fa66ff;
    transform: translate(15px, -10px) scale(1.08);
  }
  78% {
    filter:  hue-rotate(104.4deg);
    background-color: #ff66c2;
    transform: translate(5px, -3px) scale(1.09);
  }
  79% {
    filter:  hue-rotate(68.4deg);
    background-color: #6673ff;
    transform: translate(5px, -3px) scale(1.21);
  }
  80% {
    filter:  hue-rotate(75.6deg);
    background-color: #ffbf66;
    transform: translate(1px, 12px) scale(1.18);
  }
  81% {
    filter:  hue-rotate(291.6deg);
    background-color: #ffb366;
    transform: translate(-9px, 15px) scale(1.24);
  }
  83% {
    filter:  saturate(7.66) hue-rotate(147.6deg);
    background-color: #667dff;
    transform: translate(1px, 7px) scale(1.11);
  }
  84% {
    filter:  hue-rotate(208.8deg);
    background-color: #66ffba;
    transform: translate(-13px, -10px) scale(1.19);
  }
  86% {
    filter:  hue-rotate(349.2deg);
    background-color: #ff66eb;
    transform: translate(11px, -4px) scale(1.16);
  }
  87% {
    filter:  hue-rotate(295.2deg);
    background-color: #dbff66;
    transform: translate(-9px, 8px) scale(1.15);
  }
  88% {
    filter:  saturate(6.4) hue-rotate(136.8deg) brightness(70.5%);
    background-color: #a8ff66;
    transform: translate(-7px, 15px) scale(1.19);
  }
  89% {
    filter:  hue-rotate(187.2deg);
    background-color: #666bff;
    transform: translate(9px, 2px) scale(1.06);
  }
  92% {
    filter:  hue-rotate(36deg);
    background-color: #8066ff;
    transform: translate(8px, -6px) scale(1.18);
  }
  97% {
    filter:  saturate(9.73) hue-rotate(349.2deg);
    background-color: #ff666b;
    transform: translate(-11px, 12px) scale(1.25);
  }
  98% {
    filter:  hue-rotate(266.4deg);
    background-color: #9e66ff;
    transform: translate(6px, 0px) scale(1.25);
  }
  99% {
    filter:  hue-rotate(14.4deg);
    background-color: #ff6966;
    transform: translate(1px, -13px) scale(1.06);
  }
}
